@page "/"
@using JuniorCodeTest.Models

<PageTitle>Random Users List</PageTitle>

<h1>Random Users List</h1>

<p>Please find below a list of random users</p>

@if (RandomUsers.Count == 0)
{
	<p><em>Loading...</em></p>
}

else
{

	//Added the Country, Longitude & Latitude columns and data fields
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Age</th>
				<th scope="col">Country</th>
				<th scope="col">Longitude</th>
				<th scope="col">Latitude</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var randomUser in RandomUsers)
			{
				<tr>
					<td>@randomUser.Title</td>
					<td>@randomUser.First</td>
					<td>@randomUser.Last</td>
					<td>@randomUser.Age</td>
					<td>@randomUser.Country</td>
					<td>@randomUser.Longitude</td>
					<td>@randomUser.Longitude</td>
				</tr>
			}
		</tbody>
	</table>
	//Refresh Button
	<p>
		<button @onclick="RefreshUserData" class="btn btn-primary ml-auto">Refresh</button>
	</p>
}

@code {
	//Refresh Button Functionality
	private async Task RefreshUserData()
	{
		// Call the API service to fetch new random data
		RandomUsers = await RandomUserApiService.GetRandomUserDataFromApi();
	}
}